#recipe_form_container {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
}

#recipe_info_box {
    height: 100%;
    border-radius: 35px;
    border-width: 2px;
    color: red;
    border: solid;
    margin: 5px;
}

#added_item_box {
    height: 100%;
    border-radius: 35px;
    border-width: 2px;
    color: blue;
    border: solid;
    margin: 5px;
}
